<mat-grid-list cols="10" rowHeight="100px">
    <mat-grid-tile class="title" colspan="10">Контакти</mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="6"> 
        <iframe width="98%" height="98%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d607.1120020438393!2d24.021092845262228!3d49.84525702376928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add749ac4b809%3A0x4093c8f4726a7906!2z0YPQuy4g0KLQsNC80LDQvdGB0LrQsNGPLCA2LCDQm9GM0LLQvtCyLCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1sru!2sua!4v1622384333334!5m2!1sru!2sua"></iframe>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="6"><app-customer-form></app-customer-form></mat-grid-tile>
</mat-grid-list>
