<div class="contents">
    <h2>Акції
    </h2>
    <div class="row">
      <div class="column center-content">
        <h3>
          -10% на всі послуги у свій день народження
        </h3>
        <p>
          Подаруй собі перевтілення та виглядай неперевершено у цей день. Професійні матеріали та кваліфікований майстр – це саме те, що тобі протрібно щоб створити незабутній образ.
        </p>
      </div>
      <div class="column">
        <img src="assets\brows.jpg">
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img src="assets\06C51302-4AEF-48E9-87CB-40B657BDE605.JPG">
      </div>
      <div class="column center-content">
        <h3>
          Експрес ламінування під час фарбування в подарунок
        </h3>
        <p>
          Ідеальний варіант для тих хто немає часу на повноцінний професійний догляд, але хоче щоб волосся виглядало бездоганно! K-Water від Kerastase – експрес процедура, яка миттєво розгладжує мікронерівності на поверхні волосся і дарує йому ідеальну гладкість. Особливий ефект буде помітний на освітленому та пошкодженому волоссі.
        </p>
      </div>
    </div>
</div>