    .register-card {
        background: rgb(253, 248, 255);
        opacity: 96%;
        margin-top: 15%;
    }
    
    .card-title {
        margin-left: 90px;
    }
    
    .date-form-field {
        margin-right: 34px;
    }